.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 160px;
  width: 160px;
}

.featureCard {
  margin-bottom: 3rem;
}

.featureLink {
  display: inline-block;
  font-weight: 700;
  margin-top: 0.5rem;
}
